{
  "singleQuote": true,

  "semi": true,
  "importOrder": [
    "^@core/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/ui/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
